{% extends 'home/base.html' %}
{% load static %}

{% block content %}


<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    
    <div class="row">
        <aside class="col-lg-12">
    <div class="card">
    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Product</th>
      <th scope="col" >Quantity</th>
      <th scope="col" >Amount</th>
      <th scope="col" >Ordered date</th>
      <th scope="col" >Order Status</th>
      <th scope="col" >Action </th>
    </tr>
    </thead>
    <tbody>
    {% for cart_item in order_detail %}
    <tr>
        
        <td>
            <figure class="itemside align-items-center">
                <div class="aside"><img src="{{cart_item.product.product_img.url}}" class="img-sm"></div>
                <figcaption class="info">
                    <a href="{{cart_item.product.get_url}}" class="title text-dark">{{cart_item.product.product_name}}</a>
                    <p class="text-muted small">
                        {% if cart_item.variations.all %}
                          {% for item in  cart_item.variations.all %}
                            {{ item.variation_catogory| capfirst}}:{{ item.variation_value| capfirst}}<br>
                              
                          {% endfor %}
                        {% endif %}
                    </p>
                </figcaption>
            </figure>
        </td>
        <td class="align-middle  text-sm">
          <span class="text-secondary text-xs font-weight-bold">{{cart_item.quantity}}</span>
          
         </td >
        <td class="align-middle  text-sm"> 
            <div class="price-wrap">
                <var class="price">Rs{{cart_item.product_price}}</var> 
                <small class="text-muted"> Rs{{cart_item.product.price}} each </small> 
            </div> <!-- price-wrap .// -->
        </td>
        <td class="align-middle  text-sm">
          <span class="text-secondary text-xs font-weight-bold">{{cart_item.order.created_at}}</span>
        </td>

        <td class="align-middle  text-sm">
          <span class="text-secondary text-xs font-weight-bold">{{cart_item.status}}</span>
        </td>
        
        <td class="align-middle  text-sm"> 
         {% if cart_item.status == 'Cancelled'%} 
         <button type="button" class="btn  btn-danger" disabled>Cancel</button>
         {% else %}
        <a href="{% url 'cancel_order'  cart_item.id %}" onclick="return confirm('Are yoy sure to cancel this order')" class="btn btn-danger"> Cancel</a>
        {% endif %}
        </td>
    
    </tr>
    {% endfor %}
       </tbody>
    </table>
    
    </div> <!-- card.// -->
    
    
    
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
    </section>

{% endblock content %}