{% extends "home/base.html" %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
  <div class="container">

    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
      <div class="row no-gutters ">
        <aside class="col-md-6">
          <article class="gallery-wrap ">
            <!-- <div class="img-big-wrap mainImage  cart__item"> -->
              <div id="img-container">
                <div id="lens"></div>
                <img id="featured" src="{{ single_product.product_img.url }}" class='img-fluid'>
            </div>
                    <div id="slide-wrapper">
                        <img id="slideLeft" class="arrow" src="{{ single_product.product_img.url }}">

                        <div id="slider">
                          {% for i in product_gallery %}
                            <img class="thumbnail " src="{{ i.image.url }}">
                            {% endfor %}
                        </div>

                        <img id="slideRight" class="arrow" src="{{ single_product.product_img.url }}">
                    </div>
                <!-- <center><img src="{{single_product.product_img.url}}"></center> -->
              <!-- <div class="zoom">
                <img src="{{single_product.product_img.url}}">
              </div> -->
             <!-- img-big-wrap.// -->
          </article><!-- gallery-wrap .end// -->
          <!-- product gallery -->
          <!-- <ul class="thumb">
            <li>
              <a href="{{ single_product.product_img.url }}" target="mainImage"><img
                  src="{{ single_product.product_img.url }}" alt="Product Image"></a>
              {% for i in product_gallery %}
              <a href="{{i.image.url}}" target="mainImage"><img src="{{i.image.url}}" alt="Product Image"></a>
              {% endfor %}
            </li>
          </ul> -->
        </aside>
        <main class="col-md-6 border-left">
          <form action="{% url 'add-product' single_product.id %}" method="POST">
            {% csrf_token %}



            <article class="content-body">

              <h2 class="title">{{single_product.product_name}}</h2>

              <div class="mb-3">
                <var class="price h4">Rs {{single_product.price}}</var>
              </div>

              <p>{{single_product.description}}.</p>


              <hr>

              <div class="row">
                <div class="item-option-select">
                  <h6>Select Size</h6>
                  <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                    {% for i in single_product.variation_set.size %}
                    <label class="btn btn-light">
                      <input type="radio" name="size" value="{{i.variation_value}}"> {{i.variation_value}}

                    </label>
                    {% endfor %}
                    <!-- <label class="btn btn-light active">
                    <input type="radio" name="size" value="medium" checked> M
                  </label>
                  <label class="btn btn-light">
                    <input type="radio" name="size" value="large"> L
                  </label>
                  <label class="btn btn-light">
                    <input type="radio" name="size" value="extralarge"> XL
                  </label> -->
                  </div>
                </div>
              </div> <!-- row.// -->
              <hr>
              {% if single_product.stock > 0 %}

              <button type="submit" class="btn  btn-primary"> <span class="text">Add to cart</span> <i
                  class="fas fa-shopping-cart"></i> </button>

              {% else %}
              <h1 class="text-danger"> OUT OF STOCK </h1>
              {% endif %}
            </article>
          </form>
          <!-- product-info-aside .// -->
        </main> <!-- col.// -->

      </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->

    <br>

    <div class="row">
      <div class="col-md-9">

        <header class="section-heading">
          <h3>Customer Reviews </h3>

        </header>

        <article class="box mb-3">
          <div class="icontext w-100">
            <img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle">
            <div class="text">
              <span class="date text-muted float-md-right">24.04.2020 </span>
              <h6 class="mb-1">Mike John </h6>

            </div>
          </div> <!-- icontext.// -->
          <div class="mt-3">
            <p>
              Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip
            </p>
          </div>
        </article>



      </div> <!-- col.// -->
    </div> <!-- row.// -->


  </div> <!-- container .//  -->
</section>
<script>
  document.getElementById('img-container').addEventListener('mouseover', function(){
    imageZoom('featured')
    
})

function imageZoom(imgID){
	let img = document.getElementById(imgID)
	let lens = document.getElementById('lens')

	lens.style.backgroundImage = `url( ${img.src} )`

	let ratio = 3

	lens.style.backgroundSize = (img.width * ratio) + 'px ' + (img.height * ratio) + 'px';

	img.addEventListener("mousemove", moveLens)
	lens.addEventListener("mousemove", moveLens)
	img.addEventListener("touchmove", moveLens)

	function moveLens(){
		/*
        Function sets sets position of lens over image and background image of lens
        1 - Get cursor position
        2 - Set top and left position using cursor position - lens width & height / 2
        3 - Set lens top/left positions based on cursor results
        4 - Set lens background position & invert
        5 - Set lens bounds
    
        */

        //1
		let pos = getCursor()
		//console.log('pos:', pos)

		//2
		let positionLeft = pos.x - (lens.offsetWidth / 2)
		let positionTop = pos.y - (lens.offsetHeight / 2)

		//5
		if(positionLeft < 0 ){
			positionLeft = 0
		}

		if(positionTop < 0 ){
			positionTop = 0
		}

		if(positionLeft > img.width - lens.offsetWidth /3 ){
			positionLeft = img.width - lens.offsetWidth /3
		}

		if(positionTop > img.height - lens.offsetHeight /3 ){
			positionTop = img.height - lens.offsetHeight /3
		}


		//3
		lens.style.left = positionLeft + 'px';
		lens.style.top = positionTop + 'px';

		//4
		lens.style.backgroundPosition = "-" + (pos.x * ratio) + 'px -' +  (pos.y * ratio) + 'px'
	}

	function getCursor(){
		/* Function gets position of mouse in dom and bounds
         of image to know where mouse is over image when moved
        
        1 - set "e" to window events
        2 - Get bounds of image
        3 - set x to position of mouse on image using pageX/pageY - bounds.left/bounds.top
        4- Return x and y coordinates for mouse position on image
        
         */

        let e = window.event
        let bounds = img.getBoundingClientRect()

        //console.log('e:', e)
        //console.log('bounds:', bounds)
        let x = e.pageX - bounds.left
		let y = e.pageY - bounds.top
		x = x - window.pageXOffset;
		y = y - window.pageYOffset;
		
		return {'x':x, 'y':y}
	}

}

imageZoom('featured')
</script> 
<script>
  let thumbnails = document.getElementsByClassName('thumbnail')

let activeImages = document.getElementsByClassName('active')

for (var i=0; i < thumbnails.length; i++){

	thumbnails[i].addEventListener('click', function(){
		console.log(activeImages)
		
		if (activeImages.length > 0){
			activeImages[0].classList.remove('active')
		}
		

		this.classList.add('active')
		document.getElementById('featured').src = this.src
	})
}


let buttonRight = document.getElementById('slideRight');
let buttonLeft = document.getElementById('slideLeft');

buttonLeft.addEventListener('click', function(){
	document.getElementById('slider').scrollLeft -= 180
})

buttonRight.addEventListener('click', function(){
	document.getElementById('slider').scrollLeft += 180
})
</script>

<style>
#featured {
cursor: pointer;
}

.thumbnail {
object-fit: cover;
max-width: 180px;
max-height: 100px;
cursor: pointer;
opacity: 0.5;
margin: 5px;
border: 2px solid black;

}

.thumbnail:hover {
opacity: 1;
}

.active {
opacity: 1;
}

#slide-wrapper {
margin-top: 30px;
max-width: 500px;
display: flex;
min-height: 100px;
align-items: center;
}

#slider {
width: 440px;
display: flex;
flex-wrap: nowrap;
overflow-x: auto;

}

#slider::-webkit-scrollbar {
width: 8px;

}

/* #slider::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

} */

#slider::-webkit-scrollbar-thumb {
background-color: #dede2e;
outline: 1px solid slategrey;
border-radius: 100px;

}

#slider::-webkit-scrollbar-thumb:hover {
background-color: #18b5ce;
}

.arrow {
width: 30px;
height: 30px;
cursor: pointer;
transition: .3s;
}

.arrow:hover {
opacity: .5;
width: 35px;
height: 35px;
}

#img-container {
z-index: 1;
max-width: 500px;
position: relative;
}

#lens {
z-index: 2;
position: absolute;

height: 125px;
width: 125px;

background-repeat: no-repeat;
cursor: none;

}

</style>

{% endblock content %}